public/app
public/uploads/athlete_documents/*
public/uploads/profile_photos/*
public/uploads/templates/*
!public/uploads/athlete_documents/.gitkeep
!public/uploads/profile_photos/.gitkeep
!public/uploads/templates/.gitkeep
*.log
Thumbs.db
.DS_Store
